body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.color {
    width: 50%;
    height: 50%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
}

.topLeft {
    background-color: hsl(133, 49%, 80%);
    top: 0;
    left: 0;
    color: black;
    -webkit-text-fill-color: rgb(102, 153, 113);
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;
    /* -webkit-text-stroke: 3px hsl(133, 10%, 30%); */
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 50%;
    height: 50%;

}
.eatB {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;   
}

.eatButtons {
    justify-content: space-evenly;
    display: flex;
}

#eatIcons {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
.playButtons {
    justify-content: space-evenly;
    display: flex;
}
#playIcons {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
.fightButtons {
    justify-content: space-evenly;
    display: flex;
}
#fightIcons {
    width: 55px;
    height: auto;
}
.restButtons {
    justify-content: space-evenly;
    display: flex;
}
#restIcons {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
.topRight {
    background-color: rgb(245, 255, 199);
    top: 0;
    right: 0;
    color: black;
    -webkit-text-fill-color: rgb(219, 243, 109);
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;   
    width: 50%;
    height: 50%;
}

.downLeft {
    background-color: rgb(201, 242, 240);
    bottom: 0;
    left: 0;
    padding-top: 30;
    color: black;
    -webkit-text-fill-color: rgb(109, 182, 177);
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;
    width: 50%;
    height: 50%;
}

.downRight {
    text-align: right;
    background-color: rgb(128, 71, 117);
    bottom: 0;
    right: 0;
    color: black;
    -webkit-text-fill-color: rgb(65, 48, 61);
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;
    width: 50%;
    height: 50%;
}

.rightText {
    justify-content: center;
    margin: 0px; 
    padding-top: 20px;
    display: flex;
}
.leftText {
    justify-content: center;
    margin: 0px; 
    padding-top: 20px;
    display: flex;
}

#idles {
    position: absolute;
    top: 48%;
    left: 51%;
    width: 250px; /* Aumentamos el tamaño */
    height: auto; /* Mantenemos la proporción */
    transform: translate(-50%, -50%);
    z-index: 10;
}
#mark {
    position: absolute;
    top: 49%;
    left: 50%;
    width: 350px; /* Aumentamos el tamaño */
    height: auto; /* Mantenemos la proporción */
    transform: translate(-50%, -50%);
    z-index: 10;
}

#icon_size {
    width: 40px;
}